.card-headline{
  background-color: var(--light-blue);
  max-height: 245px;
  width: 100%;
}

.text-header{
  padding: 20px;
}

.text-content{
  height: 180px;
  font-size: 14px;
  padding: 20px;
  background-color: var(--main-blue);
  color: var(--white);
}

.img-healine{
  width: 100%;
}

.go-to{
  float: right;
  padding-bottom: 20px;
}
