.navbar-custom{
  border-bottom: 1px solid var(--light-red);
  height: 70px;
  background-color: var(--light-black);

  a{
    color: var(--white);
  }

  a:hover{
    color: var(--white);
    text-decoration: none;
    opacity: 0.9;

  }

  .li-space{
    margin: 0 20px;
  }

  .nav-item{
    padding: 5px 25px;
    text-decoration: none;
  }


  .nav-item:hover{
    background-color: var(--light-red);

  }

  .nav-login{
    background-color: var(--light-red);
    border-radius: 5px;
  }


}
