<div class="banner">

  <div class="banner-content">
    <h1>Venha treinar na IPSUM LOREM</h1>
    <h3> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at nisl ac orci condimentum interdum. Maecenas viverra nec justo</h3>
    <p class="btn-sign">Quero me cadastrar</p>
  </div>
</div>
