.banner{
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), urL("https://res.cloudinary.com/dloadb2bx/image/upload/v1624988584/photo-1554284126-aa88f22d8b74_vplqok.jpg");
  height: 100vh;
  background-size: 100% 100%;
}

.banner-content{
  color: var(--light-grey);
  width: 60%;
  padding: 250px 50px 0;

  h1{
    font-size: 42px;
    text-transform: uppercase;
    font-weight: bold;
  }
  h3{
    font-weight: lighter;
  }
}

.btn-sign{
  background-color: var(--light-blue);
  width: 100%;
  border-radius: 20px;
  text-align: center;
  font-size: 24px;
  padding: 5px 0;
}
