<div class="address mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="address-content">
          <h2>Localizada no XXXXXXXXXXXX</h2>
        </div>

      </div>
      <div class="col-lg-6">
        <div class="address-map">
          <img class="img-address" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1624992530/address1_enoo1f.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
