<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-headline">
        <div class="text-header">
          Profissionais especializados
        </div>
        <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at nisl ac orci condimentum interdum. Maecenas viverra nec justo faucibus blandit. Suspendisse id auctor risus, ac vehicula tellus.
        </p>
        <p class="go-to"><i class="fas fa-chevron-right"></i> Comece hoje mesmo</p>

        </div>

      </div>
    </div>
     <div class="col-lg-4">
      <div class="card-headline">
        <div class="text-header">
          Profissionais especializados
        </div>
        <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at nisl ac orci condimentum interdum. Maecenas viverra nec justo faucibus blandit. Suspendisse id auctor risus, ac vehicula tellus.
        </p>
        <p class="go-to"><i class="fas fa-chevron-right"></i> Comece hoje mesmo</p>

        </div>

      </div>
    </div>
     <div class="col-lg-4">
      <div class="card-headline">
        <div class="text-header">
          Profissionais especializados
        </div>
        <div class="text-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at nisl ac orci condimentum interdum. Maecenas viverra nec justo faucibus blandit. Suspendisse id auctor risus, ac vehicula tellus.
        </p>
        <p class="go-to"><i class="fas fa-chevron-right"></i> Comece hoje mesmo</p>

        </div>

      </div>
    </div>


  </div>
</div>
