<div class="container">
  <h2>Modalidades</h2>
  <div class="row">
    <div class="col-lg-4">
      <div class="card" style="width: 100%;">
        <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1624991773/photo-1611816153165-fed23698666d_j87mqf.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boxe</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at nisl ac orci condimentum interdum.</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 100%;">
        <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1624991967/photo-1621333238417-a654195c717b_yblsbp.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boxe</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at nisl ac orci condimentum interdum.</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card" style="width: 100%;">
        <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1624989522/photo-1571019614242-c5c5dee9f50b_c5qiql.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Boxe</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at nisl ac orci condimentum interdum.</p>
          <a href="#" class="btn btn-primary">Detalhes</a>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
