@import 'navbar/index';
@import 'banner/index';
@import 'home/index';

:root{
  --white: #fff;
  --light-grey: #F1EDEE;
  --medium-grey: #7E7F83;
  --main-blue: #0c1f34;
  --light-blue: #1B98E0;
  --main-green: #1DD3B0;
};

body{
  font-family: 'Roboto', sans-serif;
}
