@import 'navbar/index';
@import 'banner/index';
@import 'home/index';

:root{
  --white: #F9F9F9;
  --light-grey: #F1EDEE;
  --medium-grey: #7E7F83;
  --main-blue: #0c1f34;
  --light-red: #CF0000;
  --dark-red: #B22222;
  --main-green: #1DD3B0;
  --light-black: #0E0F19;
};

body{
  font-family: 'Roboto', sans-serif;
}
